@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;
    400;
    500&display=swap";
    : root {
    --divider-color: var(--grey-300);
    --table-border: var(--grey-300);
    --table-header-bg: var(--grey-50);
    --table-header-text: var(--black);
    --highlight-bg: var(--grey-50);
    --highlight-heading-bg: var(--purple-500);
    --highlight-heading-color: var(--white);
}
html {
    color: var(--grey-900);
    font-family: var(--font-family);
    font-size: 100%;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-long);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.noscroll {
    overflow: hidden;
}
body {
    background: var(--white);
    margin: 0;
    padding: 0;
}
body.noscroll {
    overflow-y: scroll;
}
* {
    box-sizing: border-box;
    letter-spacing: var(--letter-spacing);
}
.white {
    background-color: var(--white);
}
.grey-50 {
    background-color: var(--grey-50);
}
.grey-100 {
    background-color: var(--grey-100);
}
.grey-200 {
    background-color: var(--grey-200);
}
.grey-300 {
    background-color: var(--grey-300);
}
.grey-400 {
    background-color: var(--grey-400);
}
.grey-500 {
    background-color: var(--grey-500);
}
.grey-600 {
    background-color: var(--grey-600);
}
.grey-700 {
    background-color: var(--grey-700);
}
.grey-800 {
    background-color: var(--grey-800);
}
.grey-900 {
    background-color: var(--grey-900);
}
.black {
    background-color: var(--black);
}
.blue {
    background-color: var(--utility-500);
}
.purple {
    background-color: var(--purple-500);
}
.bordered {
    border: 1px solid var(--grey-100);
}
.underlined {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
.h1, h1 {
    color: var(--black);
    font-family: var(--font-family-title);
    font-size: var(--font-size-xxxxl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-short);
    margin-bottom: var(--spacing-xl);
    margin-top: var(--spacing-m);
}
.h2, h2 {
    font-size: var(--font-size-xxxl);
    margin-top: var(--spacing-xl);
}
.h2, .h3, h2, h3 {
    color: var(--black);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-short);
    margin-bottom: var(--spacing-s);
}
.h3, h3 {
    font-size: var(--font-size-xxl);
    margin-top: var(--spacing-l);
}
.h4, h4 {
    font-size: var(--font-size-xl);
    margin-top: var(--spacing-l);
}
.h4, .h5, h4, h5 {
    color: var(--black);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-short);
    margin-bottom: var(--spacing-s);
}
.h5, h5 {
    font-size: var(--font-size-l);
}
.h5, .h6, h5, h6 {
    margin-top: var(--spacing-m);
}
.h6, h6 {
    color: var(--black);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-short);
    margin-bottom: var(--spacing-xs);
}
p {
    margin-bottom: var(--spacing-m);
    margin-top: 0;
}
b, strong {
    font-weight: var(--font-weight-bold);
}
em {
    font-style: italic;
}
blockquote {
    border-left: 4px solid var(--purple-500);
    border-radius: 4px;
    font-size: var(--font-size-l);
    margin: var(--spacing-m) 0;
    padding-left: var(--spacing-m);
}
blockquote>p:last-of-type {
    margin-bottom: var(--spacing-s);
}
cite {
    font-size: var(--font-size-m);
    font-style: inherit;
    font-weight: var(--font-weight-bold);
}
ol, ul {
    margin-bottom: var(--spacing-m);
    margin-top: 0;
    padding-left: var(--spacing-m);
}
ol li, ul li {
    margin-bottom: var(--spacing-xs);
}
ol li:last-child, ul li:last-child {
    margin-bottom: 0;
}
ol li>ol, ol li>ul, ul li>ol, ul li>ul {
    margin-bottom: 0;
    margin-top: var(--spacing-xs);
}
a {
    color: var(--purple-500);
    font-weight: var(--font-weight-bold);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    transition: color .2s ease-out, background-color .2s ease-out, -webkit-text-decoration .2s ease-out;
    transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out, -webkit-text-decoration .2s ease-out;
}
a:hover {
    background-color: var(--purple-500);
    color: var(--white);
}
.content--compact {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-xs);
    margin-bottom: var(--spacing-m);
}
.content--compact * {
    margin: 0;
}
.text--reverse {
    color: var(--white);
}
.text--reverse h1, .text--reverse h2, .text--reverse h3, .text--reverse h4, .text--reverse h5, .text--reverse h6 {
    color: inherit;
}
.text--primary {
    color: var(--black);
}
.text--grey-300 {
    color: var(--grey-300);
}
.text--purple-light {
    color: var(--purple-light);
}
.text--black {
    color: var(--black);
}
.text--white {
    color: var(--white);
}
.text--red {
    color: var(--error-500);
}
.text--purple-50 {
    color: var(--purple-50);
}
.text--normal {
    font-weight: var(--font-weight-normal);
}
.text--strong {
    font-weight: var(--font-weight-bold);
}
.text--thin {
    font-weight: var(--font-weight-thin);
}
.text--xxxxl {
    font-size: var(--font-size-xxxxl);
}
.text--xxxl {
    font-size: var(--font-size-xxxl);
}
.text--xxl {
    font-size: var(--font-size-xxl);
}
.text--xl {
    font-size: var(--font-size-xl);
}
.text--l {
    font-size: var(--font-size-l);
}
.text--m {
    font-size: var(--font-size-m);
}
.text--s {
    font-size: var(--font-size-s);
}
.text--xs {
    font-size: var(--font-size-xs);
}
.text--upper {
    text-transform: uppercase;
}
.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.text--center {
    text-align: center;
}
.spacing--xxs {
    padding: var(--spacing-xxs);
}
.spacing--top-xxs {
    padding-top: var(--spacing-xxs);
}
.spacing--bottom-xxs {
    padding-bottom: var(--spacing-xxs);
}
.spacing--left-xxs {
    padding-left: var(--spacing-xxs);
}
.spacing--right-xxs {
    padding-right: var(--spacing-xxs);
}
@media (min-width:1024px) {
    .spacing--xxs-desktop {
    padding: var(--spacing-xxs);
}
.spacing--top-xxs-desktop {
    padding-top: var(--spacing-xxs);
}
.spacing--bottom-xxs-desktop {
    padding-bottom: var(--spacing-xxs);
}
.spacing--left-xxs-desktop {
    padding-left: var(--spacing-xxs);
}
.spacing--right-xxs-desktop {
    padding-right: var(--spacing-xxs);
}
}@media (max-width:640.98px) {
    .spacing--xxs-mobile {
    padding: var(--spacing-xxs);
}
.spacing--top-xxs-mobile {
    padding-top: var(--spacing-xxs);
}
.spacing--bottom-xxs-mobile {
    padding-bottom: var(--spacing-xxs);
}
.spacing--left-xxs-mobile {
    padding-left: var(--spacing-xxs);
}
.spacing--right-xxs-mobile {
    padding-right: var(--spacing-xxs);
}
}.spacing--xs {
    padding: var(--spacing-xs);
}
.spacing--top-xs {
    padding-top: var(--spacing-xs);
}
.spacing--bottom-xs {
    padding-bottom: var(--spacing-xs);
}
.spacing--left-xs {
    padding-left: var(--spacing-xs);
}
.spacing--right-xs {
    padding-right: var(--spacing-xs);
}
@media (min-width:1024px) {
    .spacing--xs-desktop {
    padding: var(--spacing-xs);
}
.spacing--top-xs-desktop {
    padding-top: var(--spacing-xs);
}
.spacing--bottom-xs-desktop {
    padding-bottom: var(--spacing-xs);
}
.spacing--left-xs-desktop {
    padding-left: var(--spacing-xs);
}
.spacing--right-xs-desktop {
    padding-right: var(--spacing-xs);
}
}@media (max-width:640.98px) {
    .spacing--xs-mobile {
    padding: var(--spacing-xs);
}
.spacing--top-xs-mobile {
    padding-top: var(--spacing-xs);
}
.spacing--bottom-xs-mobile {
    padding-bottom: var(--spacing-xs);
}
.spacing--left-xs-mobile {
    padding-left: var(--spacing-xs);
}
.spacing--right-xs-mobile {
    padding-right: var(--spacing-xs);
}
}.spacing--ss {
    padding: var(--spacing-ss);
}
.spacing--top-ss {
    padding-top: var(--spacing-ss);
}
.spacing--bottom-ss {
    padding-bottom: var(--spacing-ss);
}
.spacing--left-ss {
    padding-left: var(--spacing-ss);
}
.spacing--right-ss {
    padding-right: var(--spacing-ss);
}
@media (min-width:1024px) {
    .spacing--ss-desktop {
    padding: var(--spacing-ss);
}
.spacing--top-ss-desktop {
    padding-top: var(--spacing-ss);
}
.spacing--bottom-ss-desktop {
    padding-bottom: var(--spacing-ss);
}
.spacing--left-ss-desktop {
    padding-left: var(--spacing-ss);
}
.spacing--right-ss-desktop {
    padding-right: var(--spacing-ss);
}
}@media (max-width:640.98px) {
    .spacing--ss-mobile {
    padding: var(--spacing-ss);
}
.spacing--top-ss-mobile {
    padding-top: var(--spacing-ss);
}
.spacing--bottom-ss-mobile {
    padding-bottom: var(--spacing-ss);
}
.spacing--left-ss-mobile {
    padding-left: var(--spacing-ss);
}
.spacing--right-ss-mobile {
    padding-right: var(--spacing-ss);
}
}.spacing--s {
    padding: var(--spacing-s);
}
.spacing--top-s {
    padding-top: var(--spacing-s);
}
.spacing--bottom-s {
    padding-bottom: var(--spacing-s);
}
.spacing--left-s {
    padding-left: var(--spacing-s);
}
.spacing--right-s {
    padding-right: var(--spacing-s);
}
@media (min-width:1024px) {
    .spacing--s-desktop {
    padding: var(--spacing-s);
}
.spacing--top-s-desktop {
    padding-top: var(--spacing-s);
}
.spacing--bottom-s-desktop {
    padding-bottom: var(--spacing-s);
}
.spacing--left-s-desktop {
    padding-left: var(--spacing-s);
}
.spacing--right-s-desktop {
    padding-right: var(--spacing-s);
}
}@media (max-width:640.98px) {
    .spacing--s-mobile {
    padding: var(--spacing-s);
}
.spacing--top-s-mobile {
    padding-top: var(--spacing-s);
}
.spacing--bottom-s-mobile {
    padding-bottom: var(--spacing-s);
}
.spacing--left-s-mobile {
    padding-left: var(--spacing-s);
}
.spacing--right-s-mobile {
    padding-right: var(--spacing-s);
}
}.spacing--m {
    padding: var(--spacing-m);
}
.spacing--top-m {
    padding-top: var(--spacing-m);
}
.spacing--bottom-m {
    padding-bottom: var(--spacing-m);
}
.spacing--left-m {
    padding-left: var(--spacing-m);
}
.spacing--right-m {
    padding-right: var(--spacing-m);
}
@media (min-width:1024px) {
    .spacing--m-desktop {
    padding: var(--spacing-m);
}
.spacing--top-m-desktop {
    padding-top: var(--spacing-m);
}
.spacing--bottom-m-desktop {
    padding-bottom: var(--spacing-m);
}
.spacing--left-m-desktop {
    padding-left: var(--spacing-m);
}
.spacing--right-m-desktop {
    padding-right: var(--spacing-m);
}
}@media (max-width:640.98px) {
    .spacing--m-mobile {
    padding: var(--spacing-m);
}
.spacing--top-m-mobile {
    padding-top: var(--spacing-m);
}
.spacing--bottom-m-mobile {
    padding-bottom: var(--spacing-m);
}
.spacing--left-m-mobile {
    padding-left: var(--spacing-m);
}
.spacing--right-m-mobile {
    padding-right: var(--spacing-m);
}
}.spacing--l {
    padding: var(--spacing-l);
}
.spacing--top-l {
    padding-top: var(--spacing-l);
}
.spacing--bottom-l {
    padding-bottom: var(--spacing-l);
}
.spacing--left-l {
    padding-left: var(--spacing-l);
}
.spacing--right-l {
    padding-right: var(--spacing-l);
}
@media (min-width:1024px) {
    .spacing--l-desktop {
    padding: var(--spacing-l);
}
.spacing--top-l-desktop {
    padding-top: var(--spacing-l);
}
.spacing--bottom-l-desktop {
    padding-bottom: var(--spacing-l);
}
.spacing--left-l-desktop {
    padding-left: var(--spacing-l);
}
.spacing--right-l-desktop {
    padding-right: var(--spacing-l);
}
}@media (max-width:640.98px) {
    .spacing--l-mobile {
    padding: var(--spacing-l);
}
.spacing--top-l-mobile {
    padding-top: var(--spacing-l);
}
.spacing--bottom-l-mobile {
    padding-bottom: var(--spacing-l);
}
.spacing--left-l-mobile {
    padding-left: var(--spacing-l);
}
.spacing--right-l-mobile {
    padding-right: var(--spacing-l);
}
}.spacing--xl {
    padding: var(--spacing-xl);
}
.spacing--top-xl {
    padding-top: var(--spacing-xl);
}
.spacing--bottom-xl {
    padding-bottom: var(--spacing-xl);
}
.spacing--left-xl {
    padding-left: var(--spacing-xl);
}
.spacing--right-xl {
    padding-right: var(--spacing-xl);
}
@media (min-width:1024px) {
    .spacing--xl-desktop {
    padding: var(--spacing-xl);
}
.spacing--top-xl-desktop {
    padding-top: var(--spacing-xl);
}
.spacing--bottom-xl-desktop {
    padding-bottom: var(--spacing-xl);
}
.spacing--left-xl-desktop {
    padding-left: var(--spacing-xl);
}
.spacing--right-xl-desktop {
    padding-right: var(--spacing-xl);
}
}@media (max-width:640.98px) {
    .spacing--xl-mobile {
    padding: var(--spacing-xl);
}
.spacing--top-xl-mobile {
    padding-top: var(--spacing-xl);
}
.spacing--bottom-xl-mobile {
    padding-bottom: var(--spacing-xl);
}
.spacing--left-xl-mobile {
    padding-left: var(--spacing-xl);
}
.spacing--right-xl-mobile {
    padding-right: var(--spacing-xl);
}
}.spacing--xxl {
    padding: var(--spacing-xxl);
}
.spacing--top-xxl {
    padding-top: var(--spacing-xxl);
}
.spacing--bottom-xxl {
    padding-bottom: var(--spacing-xxl);
}
.spacing--left-xxl {
    padding-left: var(--spacing-xxl);
}
.spacing--right-xxl {
    padding-right: var(--spacing-xxl);
}
@media (min-width:1024px) {
    .spacing--xxl-desktop {
    padding: var(--spacing-xxl);
}
.spacing--top-xxl-desktop {
    padding-top: var(--spacing-xxl);
}
.spacing--bottom-xxl-desktop {
    padding-bottom: var(--spacing-xxl);
}
.spacing--left-xxl-desktop {
    padding-left: var(--spacing-xxl);
}
.spacing--right-xxl-desktop {
    padding-right: var(--spacing-xxl);
}
}@media (max-width:640.98px) {
    .spacing--xxl-mobile {
    padding: var(--spacing-xxl);
}
.spacing--top-xxl-mobile {
    padding-top: var(--spacing-xxl);
}
.spacing--bottom-xxl-mobile {
    padding-bottom: var(--spacing-xxl);
}
.spacing--left-xxl-mobile {
    padding-left: var(--spacing-xxl);
}
.spacing--right-xxl-mobile {
    padding-right: var(--spacing-xxl);
}
}.spacing--xxxl {
    padding: var(--spacing-xxxl);
}
.spacing--top-xxxl {
    padding-top: var(--spacing-xxxl);
}
.spacing--bottom-xxxl {
    padding-bottom: var(--spacing-xxxl);
}
.spacing--left-xxxl {
    padding-left: var(--spacing-xxxl);
}
.spacing--right-xxxl {
    padding-right: var(--spacing-xxxl);
}
@media (min-width:1024px) {
    .spacing--xxxl-desktop {
    padding: var(--spacing-xxxl);
}
.spacing--top-xxxl-desktop {
    padding-top: var(--spacing-xxxl);
}
.spacing--bottom-xxxl-desktop {
    padding-bottom: var(--spacing-xxxl);
}
.spacing--left-xxxl-desktop {
    padding-left: var(--spacing-xxxl);
}
.spacing--right-xxxl-desktop {
    padding-right: var(--spacing-xxxl);
}
}@media (max-width:640.98px) {
    .spacing--xxxl-mobile {
    padding: var(--spacing-xxxl);
}
.spacing--top-xxxl-mobile {
    padding-top: var(--spacing-xxxl);
}
.spacing--bottom-xxxl-mobile {
    padding-bottom: var(--spacing-xxxl);
}
.spacing--left-xxxl-mobile {
    padding-left: var(--spacing-xxxl);
}
.spacing--right-xxxl-mobile {
    padding-right: var(--spacing-xxxl);
}
}.spacing--xxxxl {
    padding: var(--spacing-xxxxl);
}
.spacing--top-xxxxl {
    padding-top: var(--spacing-xxxxl);
}
.spacing--bottom-xxxxl {
    padding-bottom: var(--spacing-xxxxl);
}
.spacing--left-xxxxl {
    padding-left: var(--spacing-xxxxl);
}
.spacing--right-xxxxl {
    padding-right: var(--spacing-xxxxl);
}
@media (min-width:1024px) {
    .spacing--xxxxl-desktop {
    padding: var(--spacing-xxxxl);
}
.spacing--top-xxxxl-desktop {
    padding-top: var(--spacing-xxxxl);
}
.spacing--bottom-xxxxl-desktop {
    padding-bottom: var(--spacing-xxxxl);
}
.spacing--left-xxxxl-desktop {
    padding-left: var(--spacing-xxxxl);
}
.spacing--right-xxxxl-desktop {
    padding-right: var(--spacing-xxxxl);
}
}@media (max-width:640.98px) {
    .spacing--xxxxl-mobile {
    padding: var(--spacing-xxxxl);
}
.spacing--top-xxxxl-mobile {
    padding-top: var(--spacing-xxxxl);
}
.spacing--bottom-xxxxl-mobile {
    padding-bottom: var(--spacing-xxxxl);
}
.spacing--left-xxxxl-mobile {
    padding-left: var(--spacing-xxxxl);
}
.spacing--right-xxxxl-mobile {
    padding-right: var(--spacing-xxxxl);
}
}.spacing--ul {
    padding: var(--spacing-ul);
}
.spacing--top-ul {
    padding-top: var(--spacing-ul);
}
.spacing--bottom-ul {
    padding-bottom: var(--spacing-ul);
}
.spacing--left-ul {
    padding-left: var(--spacing-ul);
}
.spacing--right-ul {
    padding-right: var(--spacing-ul);
}
@media (min-width:1024px) {
    .spacing--ul-desktop {
    padding: var(--spacing-ul);
}
.spacing--top-ul-desktop {
    padding-top: var(--spacing-ul);
}
.spacing--bottom-ul-desktop {
    padding-bottom: var(--spacing-ul);
}
.spacing--left-ul-desktop {
    padding-left: var(--spacing-ul);
}
.spacing--right-ul-desktop {
    padding-right: var(--spacing-ul);
}
}@media (max-width:640.98px) {
    .spacing--ul-mobile {
    padding: var(--spacing-ul);
}
.spacing--top-ul-mobile {
    padding-top: var(--spacing-ul);
}
.spacing--bottom-ul-mobile {
    padding-bottom: var(--spacing-ul);
}
.spacing--left-ul-mobile {
    padding-left: var(--spacing-ul);
}
.spacing--right-ul-mobile {
    padding-right: var(--spacing-ul);
}
}.spacing--uul {
    padding: var(--spacing-uul);
}
.spacing--top-uul {
    padding-top: var(--spacing-uul);
}
.spacing--bottom-uul {
    padding-bottom: var(--spacing-uul);
}
.spacing--left-uul {
    padding-left: var(--spacing-uul);
}
.spacing--right-uul {
    padding-right: var(--spacing-uul);
}
@media (min-width:1024px) {
    .spacing--uul-desktop {
    padding: var(--spacing-uul);
}
.spacing--top-uul-desktop {
    padding-top: var(--spacing-uul);
}
.spacing--bottom-uul-desktop {
    padding-bottom: var(--spacing-uul);
}
.spacing--left-uul-desktop {
    padding-left: var(--spacing-uul);
}
.spacing--right-uul-desktop {
    padding-right: var(--spacing-uul);
}
}@media (max-width:640.98px) {
    .spacing--uul-mobile {
    padding: var(--spacing-uul);
}
.spacing--top-uul-mobile {
    padding-top: var(--spacing-uul);
}
.spacing--bottom-uul-mobile {
    padding-bottom: var(--spacing-uul);
}
.spacing--left-uul-mobile {
    padding-left: var(--spacing-uul);
}
.spacing--right-uul-mobile {
    padding-right: var(--spacing-uul);
}
}.spacing--uuul {
    padding: var(--spacing-uuul);
}
.spacing--top-uuul {
    padding-top: var(--spacing-uuul);
}
.spacing--bottom-uuul {
    padding-bottom: var(--spacing-uuul);
}
.spacing--left-uuul {
    padding-left: var(--spacing-uuul);
}
.spacing--right-uuul {
    padding-right: var(--spacing-uuul);
}
@media (min-width:1024px) {
    .spacing--uuul-desktop {
    padding: var(--spacing-uuul);
}
.spacing--top-uuul-desktop {
    padding-top: var(--spacing-uuul);
}
.spacing--bottom-uuul-desktop {
    padding-bottom: var(--spacing-uuul);
}
.spacing--left-uuul-desktop {
    padding-left: var(--spacing-uuul);
}
.spacing--right-uuul-desktop {
    padding-right: var(--spacing-uuul);
}
}@media (max-width:640.98px) {
    .spacing--uuul-mobile {
    padding: var(--spacing-uuul);
}
.spacing--top-uuul-mobile {
    padding-top: var(--spacing-uuul);
}
.spacing--bottom-uuul-mobile {
    padding-bottom: var(--spacing-uuul);
}
.spacing--left-uuul-mobile {
    padding-left: var(--spacing-uuul);
}
.spacing--right-uuul-mobile {
    padding-right: var(--spacing-uuul);
}
}.spacing--reset {
    padding: 0!important;
}
.spacing--top-reset {
    padding-top: 0!important;
}
.spacing--bottom-reset {
    padding-bottom: 0!important;
}
.spacing--left-reset {
    padding-left: 0!important;
}
.spacing--right-reset {
    padding-right: 0!important;
}
@media (min-width:375.02px) {
    .spacing--reset-xx-small-up {
    padding: 0!important;
}
.spacing--top-reset-xx-small-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-xx-small-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-xx-small-up {
    padding-left: 0!important;
}
.spacing--right-reset-xx-small-up {
    padding-right: 0!important;
}
}@media (max-width:375px) {
    .spacing--reset-xx-small-down {
    padding: 0!important;
}
.spacing--top-reset-xx-small-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-xx-small-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-xx-small-down {
    padding-left: 0!important;
}
.spacing--right-reset-xx-small-down {
    padding-right: 0!important;
}
}@media (min-width:375px) and (max-width:419.98px) {
    .spacing--reset-xx-small-to-x-small {
    padding: 0!important;
}
.spacing--top-reset-xx-small-to-x-small {
    padding-top: 0!important;
}
.spacing--bottom-reset-xx-small-to-x-small {
    padding-bottom: 0!important;
}
.spacing--left-reset-xx-small-to-x-small {
    padding-left: 0!important;
}
.spacing--right-reset-xx-small-to-x-small {
    padding-right: 0!important;
}
}@media (min-width:420px) {
    .spacing--reset-x-small-up {
    padding: 0!important;
}
.spacing--top-reset-x-small-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-x-small-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-x-small-up {
    padding-left: 0!important;
}
.spacing--right-reset-x-small-up {
    padding-right: 0!important;
}
}@media (max-width:419.98px) {
    .spacing--reset-x-small-down {
    padding: 0!important;
}
.spacing--top-reset-x-small-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-x-small-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-x-small-down {
    padding-left: 0!important;
}
.spacing--right-reset-x-small-down {
    padding-right: 0!important;
}
}@media (min-width:420px) and (max-width:539.98px) {
    .spacing--reset-x-small-to-small {
    padding: 0!important;
}
.spacing--top-reset-x-small-to-small {
    padding-top: 0!important;
}
.spacing--bottom-reset-x-small-to-small {
    padding-bottom: 0!important;
}
.spacing--left-reset-x-small-to-small {
    padding-left: 0!important;
}
.spacing--right-reset-x-small-to-small {
    padding-right: 0!important;
}
}@media (min-width:540px) {
    .spacing--reset-small-up {
    padding: 0!important;
}
.spacing--top-reset-small-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-small-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-small-up {
    padding-left: 0!important;
}
.spacing--right-reset-small-up {
    padding-right: 0!important;
}
}@media (max-width:539.98px) {
    .spacing--reset-small-down {
    padding: 0!important;
}
.spacing--top-reset-small-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-small-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-small-down {
    padding-left: 0!important;
}
.spacing--right-reset-small-down {
    padding-right: 0!important;
}
}@media (min-width:540px) and (max-width:719.98px) {
    .spacing--reset-small-to-medium {
    padding: 0!important;
}
.spacing--top-reset-small-to-medium {
    padding-top: 0!important;
}
.spacing--bottom-reset-small-to-medium {
    padding-bottom: 0!important;
}
.spacing--left-reset-small-to-medium {
    padding-left: 0!important;
}
.spacing--right-reset-small-to-medium {
    padding-right: 0!important;
}
}@media (min-width:641px) {
    .spacing--reset-medium-up {
    padding: 0!important;
}
.spacing--top-reset-medium-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-medium-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-medium-up {
    padding-left: 0!important;
}
.spacing--right-reset-medium-up {
    padding-right: 0!important;
}
}@media (max-width:640.98px) {
    .spacing--reset-medium-down {
    padding: 0!important;
}
.spacing--top-reset-medium-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-medium-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-medium-down {
    padding-left: 0!important;
}
.spacing--right-reset-medium-down {
    padding-right: 0!important;
}
}@media (min-width:641px) and (max-width:1023.98px) {
    .spacing--reset-medium-to-large {
    padding: 0!important;
}
.spacing--top-reset-medium-to-large {
    padding-top: 0!important;
}
.spacing--bottom-reset-medium-to-large {
    padding-bottom: 0!important;
}
.spacing--left-reset-medium-to-large {
    padding-left: 0!important;
}
.spacing--right-reset-medium-to-large {
    padding-right: 0!important;
}
}@media (min-width:1024px) {
    .spacing--reset-large-up {
    padding: 0!important;
}
.spacing--top-reset-large-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-large-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-large-up {
    padding-left: 0!important;
}
.spacing--right-reset-large-up {
    padding-right: 0!important;
}
}@media (max-width:1023.98px) {
    .spacing--reset-large-down {
    padding: 0!important;
}
.spacing--top-reset-large-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-large-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-large-down {
    padding-left: 0!important;
}
.spacing--right-reset-large-down {
    padding-right: 0!important;
}
}@media (min-width:1024px) and (max-width:1139.98px) {
    .spacing--reset-large-to-x-large {
    padding: 0!important;
}
.spacing--top-reset-large-to-x-large {
    padding-top: 0!important;
}
.spacing--bottom-reset-large-to-x-large {
    padding-bottom: 0!important;
}
.spacing--left-reset-large-to-x-large {
    padding-left: 0!important;
}
.spacing--right-reset-large-to-x-large {
    padding-right: 0!important;
}
}@media (min-width:1140px) {
    .spacing--reset-x-large-up {
    padding: 0!important;
}
.spacing--top-reset-x-large-up {
    padding-top: 0!important;
}
.spacing--bottom-reset-x-large-up {
    padding-bottom: 0!important;
}
.spacing--left-reset-x-large-up {
    padding-left: 0!important;
}
.spacing--right-reset-x-large-up {
    padding-right: 0!important;
}
}@media (max-width:1139.98px) {
    .spacing--reset-x-large-down {
    padding: 0!important;
}
.spacing--top-reset-x-large-down {
    padding-top: 0!important;
}
.spacing--bottom-reset-x-large-down {
    padding-bottom: 0!important;
}
.spacing--left-reset-x-large-down {
    padding-left: 0!important;
}
.spacing--right-reset-x-large-down {
    padding-right: 0!important;
}
}.margin--reset {
    margin: 0!important;
}
.margin--top-reset {
    margin-top: 0!important;
}
.margin--bottom-reset {
    margin-bottom: 0!important;
}
.margin--left-reset {
    margin-left: 0!important;
}
.margin--right-reset {
    margin-right: 0!important;
}
@media (min-width:420px) {
    .margin--reset-x-small-up {
    margin: 0!important;
}
.margin--top-reset-x-small-up {
    margin-top: 0!important;
}
.margin--bottom-reset-x-small-up {
    margin-bottom: 0!important;
}
.margin--left-reset-x-small-up {
    margin-left: 0!important;
}
.margin--right-reset-x-small-up {
    margin-right: 0!important;
}
}@media (max-width:419.98px) {
    .margin--reset-x-small-down {
    margin: 0!important;
}
.margin--top-reset-x-small-down {
    margin-top: 0!important;
}
.margin--bottom-reset-x-small-down {
    margin-bottom: 0!important;
}
.margin--left-reset-x-small-down {
    margin-left: 0!important;
}
.margin--right-reset-x-small-down {
    margin-right: 0!important;
}
}@media (min-width:420px) and (max-width:539.98px) {
    .margin--reset-x-small-to-small {
    margin: 0!important;
}
.margin--top-reset-x-small-to-small {
    margin-top: 0!important;
}
.margin--bottom-reset-x-small-to-small {
    margin-bottom: 0!important;
}
.margin--left-reset-x-small-to-small {
    margin-left: 0!important;
}
.margin--right-reset-x-small-to-small {
    margin-right: 0!important;
}
}@media (min-width:540px) {
    .margin--reset-small-up {
    margin: 0!important;
}
.margin--top-reset-small-up {
    margin-top: 0!important;
}
.margin--bottom-reset-small-up {
    margin-bottom: 0!important;
}
.margin--left-reset-small-up {
    margin-left: 0!important;
}
.margin--right-reset-small-up {
    margin-right: 0!important;
}
}@media (max-width:539.98px) {
    .margin--reset-small-down {
    margin: 0!important;
}
.margin--top-reset-small-down {
    margin-top: 0!important;
}
.margin--bottom-reset-small-down {
    margin-bottom: 0!important;
}
.margin--left-reset-small-down {
    margin-left: 0!important;
}
.margin--right-reset-small-down {
    margin-right: 0!important;
}
}@media (min-width:540px) and (max-width:719.98px) {
    .margin--reset-small-to-medium {
    margin: 0!important;
}
.margin--top-reset-small-to-medium {
    margin-top: 0!important;
}
.margin--bottom-reset-small-to-medium {
    margin-bottom: 0!important;
}
.margin--left-reset-small-to-medium {
    margin-left: 0!important;
}
.margin--right-reset-small-to-medium {
    margin-right: 0!important;
}
}@media (min-width:641px) {
    .margin--reset-medium-up {
    margin: 0!important;
}
.margin--top-reset-medium-up {
    margin-top: 0!important;
}
.margin--bottom-reset-medium-up {
    margin-bottom: 0!important;
}
.margin--left-reset-medium-up {
    margin-left: 0!important;
}
.margin--right-reset-medium-up {
    margin-right: 0!important;
}
}@media (max-width:640.98px) {
    .margin--reset-medium-down {
    margin: 0!important;
}
.margin--top-reset-medium-down {
    margin-top: 0!important;
}
.margin--bottom-reset-medium-down {
    margin-bottom: 0!important;
}
.margin--left-reset-medium-down {
    margin-left: 0!important;
}
.margin--right-reset-medium-down {
    margin-right: 0!important;
}
}@media (min-width:641px) and (max-width:1023.98px) {
    .margin--reset-medium-to-large {
    margin: 0!important;
}
.margin--top-reset-medium-to-large {
    margin-top: 0!important;
}
.margin--bottom-reset-medium-to-large {
    margin-bottom: 0!important;
}
.margin--left-reset-medium-to-large {
    margin-left: 0!important;
}
.margin--right-reset-medium-to-large {
    margin-right: 0!important;
}
}@media (min-width:1024px) {
    .margin--reset-large-up {
    margin: 0!important;
}
.margin--top-reset-large-up {
    margin-top: 0!important;
}
.margin--bottom-reset-large-up {
    margin-bottom: 0!important;
}
.margin--left-reset-large-up {
    margin-left: 0!important;
}
.margin--right-reset-large-up {
    margin-right: 0!important;
}
}@media (max-width:1023.98px) {
    .margin--reset-large-down {
    margin: 0!important;
}
.margin--top-reset-large-down {
    margin-top: 0!important;
}
.margin--bottom-reset-large-down {
    margin-bottom: 0!important;
}
.margin--left-reset-large-down {
    margin-left: 0!important;
}
.margin--right-reset-large-down {
    margin-right: 0!important;
}
}@media (min-width:1024px) and (max-width:1139.98px) {
    .margin--reset-large-to-x-large {
    margin: 0!important;
}
.margin--top-reset-large-to-x-large {
    margin-top: 0!important;
}
.margin--bottom-reset-large-to-x-large {
    margin-bottom: 0!important;
}
.margin--left-reset-large-to-x-large {
    margin-left: 0!important;
}
.margin--right-reset-large-to-x-large {
    margin-right: 0!important;
}
}@media (min-width:1140px) {
    .margin--reset-x-large-up {
    margin: 0!important;
}
.margin--top-reset-x-large-up {
    margin-top: 0!important;
}
.margin--bottom-reset-x-large-up {
    margin-bottom: 0!important;
}
.margin--left-reset-x-large-up {
    margin-left: 0!important;
}
.margin--right-reset-x-large-up {
    margin-right: 0!important;
}
}@media (max-width:1139.98px) {
    .margin--reset-x-large-down {
    margin: 0!important;
}
.margin--top-reset-x-large-down {
    margin-top: 0!important;
}
.margin--bottom-reset-x-large-down {
    margin-bottom: 0!important;
}
.margin--left-reset-x-large-down {
    margin-left: 0!important;
}
.margin--right-reset-x-large-down {
    margin-right: 0!important;
}
}.divider--top {
    border-top: 1px solid var(--divider-color);
}
.divider--bottom {
    border-bottom: 1px solid var(--divider-color);
}
.divider--bottom.divider--grey, .divider--bottom.divider--light, .divider--top.divider--grey, .divider--top.divider--light {
    border-color: var(--grey-100);
}
.video {
    height: 0;
    margin: 0 0 var(--spacing-m);
    padding-bottom: 56.25%;
    position: relative;
}
.video embed, .video iframe, .video object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%}
video {
    height: auto;
    width: 100%}
img, picture {
    height: auto;
    max-width: 100%}
table {
    border-collapse: collapse;
    margin-bottom: var(--spacing-m);
    width: 100%}
table th {
    background-color: var(--grey-50);
    background-color: var(--table-header-bg);
    color: var(--black);
    color: var(--table-header-text);
    font-weight: var(--font-weight-bold);
    text-align: left;
}
table td, table th {
    padding: .75rem var(--spacing-s);
    vertical-align: top;
}
table tbody td, table tbody th {
    border-bottom: 1px solid var(--table-border);
}
table td :last-child {
    margin-bottom: 0;
}
.table--responsive {
    margin-bottom: var(--spacing-m);
    max-width: calc(100vw - var(--spacing-xxl));
}
@media (max-width:375px) {
    .table--responsive {
    margin-left: calc(var(--spacing-xs)*-1);
    margin-right: calc(var(--spacing-xs)*-1);
    max-width: calc(100vw - var(--spacing-l));
}
}@media (max-width:640.98px) {
    .table--responsive {
    position: relative;
}
.table--responsive .table__wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.table--responsive table {
    margin: 0;
    width: 100%}
.table--responsive.table--scroll-fringe .table__wrapper {
    overflow: hidden;
}
.table--responsive.table--scroll-x .table:after {
    background: linear-gradient(270deg, #18181826, #fff0);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--spacing-m);
}
}.assessment-summary-table .icon-list {
    margin-top: var(--spacing-m);
}
.highlight {
    background-color: var(--grey-50);
    background-color: var(--highlight-bg);
    border-radius: 2px;
    margin-bottom: var(--spacing-m);
    overflow: hidden;
    padding: var(--spacing-m);
    position: relative;
}
.highlight>h2:first-child, .highlight>h3:first-child, .highlight>h4:first-child, .highlight>h5:first-child, .highlight>h6:first-child {
    margin-top: 0;
}
.highlight :last-child {
    margin-bottom: 0;
}
.highlight__heading {
    background-color: var(--purple-500);
    background-color: var(--highlight-heading-bg);
    margin-bottom: var(--spacing-m);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    padding: var(--spacing-m);
}
.highlight__heading * {
    color: var(--white);
    color: var(--highlight-heading-color);
    margin: 0;
}
.highlight__text :last-child {
    margin-bottom: 0;
}
.highlight--horizontal {
    align-items: center;
    display: flex;
}
.highlight--horizontal>* {
    margin: 0 var(--spacing-m) 0 0;
}
.highlight--horizontal>:last-child {
    margin-right: 0;
}
.highlight--alert, .highlight--info {
    padding-left: var(--spacing-ns-xxxxl);
}
.highlight--alert:before, .highlight--info:before {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: var(--spacing-m);
    left: var(--spacing-m);
    position: absolute;
    top: var(--spacing-m);
    width: var(--spacing-m);
}
.highlight--alert h2, .highlight--alert h3, .highlight--alert h4, .highlight--alert h5, .highlight--info h2, .highlight--info h3, .highlight--info h4, .highlight--info h5 {
    color: var(--black);
    margin-bottom: var(--spacing-xs);
}
.highlight--alert p, .highlight--info p {
    margin-bottom: var(--spacing-xs);
}
.highlight--info {
    background-color: var(--utility-50);
}
.highlight--alert {
    background-color: var(--warning-50);
}
.highlight--bordered {
    background: #0000;
    border: 1px solid var(--grey-100);
    border-radius: .25rem;
    padding: var(--spacing-ns-l);
}
@media (min-width:641px) {
    .highlight--bordered.spacing--xl {
    padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl);
}
}.highlight--bordered .filters__groups {
    max-width: 890px;
    grid-gap: var(--spacing-ns-l);
}
@media (max-width:1023.98px) {
    .highlight--bordered .filters__groups {
    margin-bottom: var(--spacing-ns-l);
}
}dl {
    margin-bottom: 0;
    margin-top: 0;
}
dl dt {
    color: var(--black);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}
dl dd {
    font-size: var(--font-size-l);
    margin-left: 0;
}
.dl-inline, dl dd {
    margin-bottom: var(--spacing-m);
}
.dl-inline {
    display: grid;
}
.dl-inline:last-child {
    margin-bottom: 0;
}
@media (min-width:320.02px) {
    .dl-inline {
    grid-column-gap: var(--spacing-m);
    grid-row-gap: var(--spacing-xs);
    grid-template-columns: min(35%, 8.75rem) 1fr;
}
.dl-inline dd {
    align-self: end;
    margin-bottom: 0;
}
}.dl-inline dt {
    text-transform: none;
}
.dl-inline dd, .dl-inline dt {
    font-size: revert;
}
.dl-inline--s {
    font-size: var(--font-size-s);
}
@media (min-width:320.02px) {
    .dl-inline--s {
    grid-row-gap: var(--spacing-xxs);
}
}@media (min-width:641px) {
    .definition--table dl {
    -moz-columns: 2;
    column-count: 2;
    -moz-column-gap: var(--spacing-xxxl);
    column-gap: var(--spacing-xxxl);
}
}.definition--table dt {
    font-size: var(--font-size-l);
    text-transform: none;
}
.definition--table dt.col--break {
    -moz-column-break-before: column;
    break-before: column;
}
.definition--table dd {
    font-size: var(--font-size-m);
    margin-bottom: 0;
}
.definition--table dl>div {
    margin-bottom: var(--spacing-s);
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}
.hidden {
    display: none;
}
.visually-hidden {
    overflow: hidden;
    position: absolute!important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
}
@media (min-width:1024px) {
    .hidden--large {
    display: none!important;
}
}@media (min-width:641px) {
    .hidden--desktop {
    display: none!important;
}
}@media (max-width:640.98px) {
    .hidden--mobile {
    display: none!important;
}
}.align-center img, .align-left img, .align-right img {
    max-width: 100%}
@media (min-width:641px) {
    .align-left {
    clear: both;
    float: left;
    margin: 0 var(--spacing-m) var(--spacing-m) 0;
    max-width: 50%}
.align-right {
    clear: both;
    float: right;
    margin: 0 0 var(--spacing-m) var(--spacing-m);
    max-width: 50%}
.align-center {
    clear: both;
    margin: 0 auto var(--spacing-m);
    max-width: 50%}
}
