@charset "utf-8";
/* CSS Document */
.uq-button {
    background-color: var(--purple-500);
    border: 2px solid var(--purple-500);
    border-radius: .25rem;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;
}

.uq-button *,
.uq-button *::before,
.uq-button *::after {
    box-sizing: border-box;
}

.uq-button .uq-icon {
    width: 24px;
    height: 24px;
    margin-block: -4px;
}

.uq-button .uq-icon::before {
    width: 24px;
    height: 24px;
    margin: 0;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(122deg) brightness(111%) contrast(102%);
}

.uq-button:hover {
    background-color: var(--white);
    border-color: var(--purple-500);
    color: var(--purple-500);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.uq-button:hover .uq-icon::before {
    filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
}

.uq-button--secondary {
    background-color: var(--white);
    border-color: var(--purple-500);
    color: var(--purple-500);
}

.uq-button--secondary:hover,
.uq-button--secondary:focus {
    background-color: var(--purple-500);
    border-color: var(--purple-500);
    color: var(--white);
}

.uq-button--tertiary {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--purple-500);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.uq-button--tertiary:hover,
.uq-button--tertiary:focus {
    background-color: var(--purple-500);
    border-color: var(--purple-500);
    color: var(--white);
}

.uq-button--secondary .uq-icon::before,
.uq-button--tertiary .uq-icon::before {
    filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
}

.uq-button--secondary:hover,
.uq-button--secondary:focus,
.uq-button--tertiary:hover,
.uq-button--tertiary:focus {
    background-color: var(--purple-500);
    border-color: var(--purple-500);
    color: var(--white);
}

.uq-button--secondary:hover .uq-icon::before,
.uq-button--secondary:focus .uq-icon::before,
.uq-button--tertiary:hover .uq-icon::before,
.uq-button--tertiary:focus .uq-icon::before {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(122deg) brightness(111%) contrast(102%);
}

.uq-button--tiny {
    font-size: .75rem;
    padding: .25rem .5rem;
}

.uq-button--small {
    font-size: .875rem;
    padding: .5rem 1rem;
}

.uq-button--large {
    font-size: 1.125rem;
    padding: 1rem 2.5rem;
}

.uq-button--expand {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
    justify-content: center;
}

